<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.simple.clinic.qa.debug.test">

  <instrumentation
    android:name="org.simple.clinic.AndroidTestJUnitRunner"
    android:targetPackage="org.simple.clinic.qa.debug">

    <meta-data
      android:name="listener"
      android:value="org.simple.clinic.QuarantineRunListener" />

  </instrumentation>
</manifest>
