<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="BootApp Test Automation Suite" parallel="tests">
	<!--<listeners>-->

		<!--<listener class-name="src.seleniumconcept.CustomRetryListner"></listener>-->

	<!--</listeners>-->
	<test name="Simple">
		<classes>
			<class name="com.simplelife.tests.android.HomePageTest" />
		</classes>
	</test>

</suite>