version: "3"

services:
  postgres:
    image: postgres:14.3-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    expose:
      - "5432"

  redis:
    image: redis:5-alpine
    expose:
      - "6379"

  server:
    build:
      context: https://github.com/simpledotorg/simple-server.git
      dockerfile: ./.docker/dev.Dockerfile
    image: simple-server:latest
    volumes:
      - .:/myapp
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rake db:setup; bundle exec rails s -p 3000 -b '0.0.0.0'"
    expose:
      - "3000"
    ports:
      - "8420:3000"
    depends_on:
      - redis
      - postgres
    environment:
      SIMPLE_SERVER_DATABASE_HOST: postgres
      SIMPLE_SERVER_DATABASE_USERNAME: postgres
      SIMPLE_SERVER_DATABASE_PASSWORD: password
      SIMPLE_SERVER_HOST_PROTOCOL: https
      CALL_SESSION_REDIS_HOST: redis
      RAILS_CACHE_REDIS_URL: redis://
      SIDEKIQ_REDIS_HOST: redis
