<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="org.simple.clinic"
  android:installLocation="preferExternal">

  <uses-feature
    android:name="android.hardware.camera"
    android:required="false" />

  <uses-permission android:name="android.permission.CALL_PHONE" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission
    android:name="android.permission.WRITE_EXTERNAL_STORAGE"
    tools:ignore="ScopedStorage" />

  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data
        android:host="www.youtube.com"
        android:scheme="https" />
    </intent>
  </queries>

  <application
    android:name=".ReleaseClinicApp"
    android:allowBackup="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/Theme.Simple"
    tools:ignore="AllowBackup,GoogleAppIndexingWarning, LockedOrientationActivity"
    tools:replace="android:allowBackup">

    <!-- Mixpanel is causing error logs to be written needlessly because of a problem with their
    A/B testing framework. Since we don't use it, we can disable it.
    https://github.com/mixpanel/mixpanel-android/issues/253
    -->
    <meta-data
      android:name="com.mixpanel.android.MPConfig.DisableViewCrawler"
      android:value="true" />

    <meta-data
      android:name="com.google.mlkit.vision.DEPENDENCIES"
      android:value="barcode" />

    <activity
      android:name=".setup.SetupActivity"
      android:launchMode="singleTask"
      android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".main.TheActivity"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".drugs.selection.entry.CustomPrescriptionEntrySheet"
      android:theme="@style/Theme.Simple.BottomSheetActivity"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".bp.entry.BloodPressureEntrySheet"
      android:theme="@style/Theme.Simple.BottomSheetActivity"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".bp.assignbppassport.BpPassportSheet"
      android:theme="@style/Theme.Simple.BottomSheetActivity"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".scheduleappointment.ScheduleAppointmentSheet"
      android:theme="@style/Theme.Simple.BottomSheetActivity"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".scheduleappointment.facilityselection.FacilitySelectionActivity"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".bloodsugar.selection.type.BloodSugarTypePickerSheet"
      android:theme="@style/Theme.Simple.BottomSheetActivity"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".bloodsugar.entry.BloodSugarEntrySheet"
      android:theme="@style/Theme.Simple.BottomSheetActivity"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".facility.change.confirm.ConfirmFacilityChangeSheet"
      android:theme="@style/Theme.Simple.BottomSheetActivity"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".facility.change.FacilityChangeActivity"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".registration.confirmfacility.ConfirmFacilitySheet"
      android:theme="@style/Theme.Simple.BottomSheetActivity"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".facility.alertchange.AlertFacilityChangeSheet"
      android:theme="@style/Theme.Simple.BottomSheetActivity"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".contactpatient.ContactPatientBottomSheet"
      android:theme="@style/Theme.Simple.BottomSheetActivity"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".drugs.selection.dosage.DosagePickerSheet"
      android:theme="@style/Theme.Simple.BottomSheetActivity"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".summary.teleconsultation.contactdoctor.ContactDoctorSheet"
      android:theme="@style/Theme.Simple.BottomSheetActivity"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".teleconsultlog.medicinefrequency.MedicineFrequencySheet"
      android:theme="@style/Theme.Simple.BottomSheetActivity"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".deeplink.DeepLinkActivity"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <!-- Accepts URIs that begin with "https://app.simple.org/patient” -->
        <data
          android:host="app.simple.org"
          android:pathPrefix="/patient"
          android:scheme="https" />

        <data
          android:host="app.simple.org"
          android:pathPrefix="/consult"
          android:scheme="https" />
      </intent-filter>
    </activity>

    <activity
      android:name=".signature.SignatureActivity"
      android:theme="@style/Theme.Simple.TranslucentBackground" />

    <activity
      android:name=".teleconsultlog.drugduration.DrugDurationSheet"
      android:theme="@style/Theme.Simple.BottomSheetActivity"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".summary.teleconsultation.status.TeleconsultStatusSheet"
      android:theme="@style/Theme.Simple.BottomSheetActivity"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".registerorlogin.AuthenticationActivity"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".scanid.ScanBpPassportActivity"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="adjustResize" />

    <receiver
      android:name=".login.OtpSmsReceiver"
      android:exported="true"
      tools:ignore="ExportedReceiver">
      <intent-filter>
        <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
      </intent-filter>
    </receiver>

    <provider
      android:name="org.simple.clinic.fileprovider.SimpleFileProvider"
      android:authorities="${applicationId}.provider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/provider_paths" />
    </provider>
  </application>
</manifest>
