<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.simple.clinic"
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <application
    android:name=".ReleaseClinicApp"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/ClinicTheme"
    tools:ignore="AllowBackup,GoogleAppIndexingWarning">

    <activity
      android:name=".activity.TheActivity"
      android:launchMode="singleTask"
      android:screenOrientation="portrait"
      android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".search.PatientSearchAgeFilterSheet"
      android:theme="@style/ClinicTheme.DialogLikeActivity"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".drugs.selection.entry.CustomPrescriptionEntrySheet"
      android:theme="@style/ClinicTheme.DialogLikeActivity"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".bp.entry.BloodPressureEntrySheet"
      android:theme="@style/ClinicTheme.DialogLikeActivity"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".deeplink.DeepLinkActivity"
      android:theme="@android:style/Theme.NoDisplay">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="simple.org"
          android:pathPattern="/register"
          android:scheme="https" />

        <data
          android:host="www.simple.org"
          android:pathPattern="/register"
          android:scheme="https" />
      </intent-filter>
    </activity>
  </application>
</manifest>
